<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">INFO PROVIDERS</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>Action Info Entry</mat-card-title>
        <mat-card-content>
          This is where YOU will soon be able to contribute information about the actions taken (or not taken) by our
          elected officials.
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://www.vis.org/other/vismbr.aspx" target="_blank">
            Join VIS to support this project <fa-icon icon="rocket"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>