<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <vispt-big-input placeholder="I am going to do..."
                      [value]="newTodo"
                      (keyup)="onNewTodoChange($event.target.value)"
                      (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                      (keyup.escape)="onNewTodoClear()">
        <vispt-big-input-action fontSet="fas" fontIcon="fa-plus" faIcon="plus" color="accent"
                               (action)="onAddTodo()"
                               [disabled]="isAddTodoDisabled"
                               matTooltip="Add new todo" matTooltipPosition="before">
        </vispt-big-input-action>
        <vispt-big-input-action fontSet="fas" fontIcon="fa-trash" faIcon="trash" color="warn"
                               (action)="onRemoveDoneTodos()"
                               [disabled]="isRemoveDoneTodosDisabled"
                               matTooltip="Remove done todos" matTooltipPosition="after">
        </vispt-big-input-action>
      </vispt-big-input>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <h2>
        Todo List
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <fa-icon icon="filter"></fa-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }">
            <mat-icon><fa-icon icon="tasks"></fa-icon></mat-icon>
            <span>All</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }">
            <mat-icon><fa-icon icon="check"></fa-icon></mat-icon>
            <span>Done</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }">
            <mat-icon><fa-icon icon="square"></fa-icon></mat-icon>
            <span>Active</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info d-none d-sm-block d-md-none d-lg-block">
          <mat-chip [disabled]=true [ngPlural]="filteredTodos.length">
            {{ 'anms.examples.todos.filter.description' | translate }}
            <ng-template ngPluralCase="other">{{ filteredTodos.length }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
            <ng-template ngPluralCase="=1">{{ 'anms.examples.todos.filter.one' | translate }} {{ 'anms.examples.todos.filter.item' | translate }}</ng-template>
            <ng-template ngPluralCase="=0">{{ 'anms.examples.todos.filter.none' | translate }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of filteredTodos" class="todo"
                [ngClass]="routeAnimationsElements">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></mat-checkbox>
        <span class="todo-label"
              [ngClass]="{ 'todo-label-done': todo.done }"
              (click)="onToggleTodo(todo)">
          &nbsp;{{todo.name}}&nbsp;
        </span>
      </mat-card>
    </div>
  </div>
</div>
