.item {
    display: flex;
    margin-bottom: 10px;

    .item-selected {
        margin: 0 20px 0 0;
    }

    .item-label {
        position: relative;
        top: 2px;
        cursor: pointer;

        &.item-label-selected {
        text-decoration: line-through;
        opacity: 0.5;
        }
    }
}
