.search-input-field {
    width: 100%;
  }
  
  .actor-configuration-accordion .mat-expansion-panel-header-title,
  .actor-configuration-accordion .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .actor-configuration-accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .provider-configuration-accordion .mat-expansion-panel-header-title,
  .provider-configuration-accordion .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .provider-configuration-accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .actor-list-title, .action-row {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;    
  }
