<div class="container">
	<div class="row">
		<div class="col-md-7">
			<mat-vertical-stepper [linear]="true" (selectionChange)="onStepperSelectionChanged($event)" #stepper>
				<mat-step [completed]="reportCardsService.selectedActorsIds.length >= minActors">
					<ng-template matStepLabel>Select Politicians</ng-template>
					<div class="row" style="align-items: center">
						<div class="col-md-2">
							<button mat-raised-button matStepperNext color="primary">Next</button>
						</div>
						<div class="col-md-10">
							<span class="mat-body-strong" style="padding-left: 1rem">Selected Politicians ({{ (reportCardsService.reportCardsConfigTreeDataSource$ | async)?.length
											}}/{{maxActors}})</span>
							<p [hidden]="reportCardsService.selectedActorsIds.length > 0">
								<i>Choose up to {{maxActors}} politicians.</i></p>
						</div>
					</div>
					<div *ngFor="let actorConfig of reportCardsService.reportCardsConfigTreeDataSource$ | async">
						<div class="row actor-list-title">
							<div class="col-md-10 mat-small"><strong>{{actorConfig.title}}</strong>
							</div>
							<div class="col-md-2 mat-small">
								<button mat-icon-button [value]="actorConfig.id"
									(click)="onDeletePersonClicked($event)">
									<mat-icon>
										<fa-icon class="fa-xs" icon="times-circle"></fa-icon>
									</mat-icon>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mat-small">
								<span>{{actorConfig.description}}</span><br />
								<span>{{ (actorConfig.termStarted) ? (actorConfig.termStarted | date) : '?' }} -
								</span>
								<span>
									{{ (actorConfig.termEnded) ? (actorConfig.termEnded | date) : '?' }}</span>
							</div>
						</div>
					</div>
				</mat-step>
				<mat-step [completed]="reportCardsService.isActionSelectionStepComplete">
					<ng-template matStepLabel>Select Actions</ng-template>
					<div class="row" style="margin-bottom: 1rem">
						<div class="col-xs-2">
							<button mat-raised-button matStepperPrevious color="primary"
								style="margin-right: 1rem">Back</button>
						</div>
						<div class="col-xs-2">
							<button mat-raised-button color="primary" (click)="reportCardsService.getReportCards()"
							[disabled]="!reportCardsService.isActionSelectionStepComplete">Get Report Cards</button>
						</div>
					</div>
					<div class="row" style="margin-bottom: 1rem">
						<div class="col-sm-12" style="margin-right: 1rem">
							<span [hidden]="reportCardsService.isActionSelectionStepComplete">
								<i>Each politician must have at least one info provider or action configured</i>
							</span>
						</div>
					</div>
					<div class="row" style="margin-bottom: 1rem">
						<div class="col-sm-12" style="margin-right: 1rem">
							<span [hidden]="expandedActorIndex >= 0">
								<i>Select politician and add info providers or actions</i>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="margin-right: 1rem">
							<!-- Report card configuration accordion -->
							<mat-accordion class="actor-configuration-accordion">
								<mat-expansion-panel *ngFor="let actorConfig of reportCardsService.reportCardsConfigTreeDataSource$ | async;
							index as i; last as lastIndex; first as firstIndex" [expanded]="expandedActorIndex === i"
									(opened)="onActorPanelOpened(i, actorConfig.id, actorConfig.personId, actorConfig.officeId)"
									(closed)="onActorPanelClosed(i)">
									<mat-expansion-panel-header [collapsedHeight]="'67px'">
										<mat-panel-title class="mat-small">
											<div style="margin-top: 1rem; margin-right: 1rem">
												<mat-icon matBadge="{{actorConfig.infoProviderScorecards.length}}"
													matBadgeSize="medium"
													matBadgeColor="{{(actorConfig.infoProviderScorecards.length === 0) ? 'warn' : 'accent'}}">
													<fa-icon class="fa-xs" icon="user"></fa-icon>
												</mat-icon>
											</div>
											<div><strong>{{actorConfig.title}}</strong><br />
												{{actorConfig.description}}<br />
												{{ (actorConfig.termStarted) ? (actorConfig.termStarted | date) : '?' }}
												-
												{{ (actorConfig.termEnded) ? (actorConfig.termEnded | date) : '?' }}
											</div>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<button *ngIf="!firstIndex" mat-icon-button (click)="onExpandActorPanelByIndex(i - 1)"
										matTooltip="Previous actor" matTooltipPosition="below">
										<mat-icon>
											<fa-icon class="fa-xs" icon="arrow-circle-left"></fa-icon>
										</mat-icon>
									</button>
									<button *ngIf="!lastIndex" mat-icon-button (click)="onExpandActorPanelByIndex(i + 1)"
										matTooltip="Next actor" matTooltipPosition="below">
										<mat-icon>
											<fa-icon class="fa-xs" icon="arrow-circle-right"></fa-icon>
										</mat-icon>
									</button>
									<mat-accordion class="provider-configuration-accordion">
										<mat-expansion-panel
											*ngFor="let providerScorecardConfig of actorConfig.infoProviderScorecards">
											<mat-expansion-panel-header [collapsedHeight]="'64px'">
												<mat-panel-title class="mat-small">
													<div>
														<mat-icon>
															<fa-icon class="fa-xs" icon="eye"></fa-icon>
														</mat-icon>
													</div>
													<div>
														<strong>{{providerScorecardConfig.title}}</strong><br />
														{{providerScorecardConfig.description}}
														<br />
														{{ (providerScorecardConfig.scorecardStartDate) ? (providerScorecardConfig.scorecardStartDate | date) : '?' }}
														-
														{{ (providerScorecardConfig.scorecardEndDate) ? (providerScorecardConfig.scorecardEndDate | date) : '?' }}
													</div>
												</mat-panel-title>
											</mat-expansion-panel-header>
											<div class="row action-row mat-small">
												<div class="col-sm-1">
													<mat-icon>
														<fa-icon class="fa-xs" icon="file"></fa-icon>
													</mat-icon>
												</div>
												<div class="col-sm-7">
													<span>[all actions]</span>
												</div>
												<div class="col-sm-1">
													<button mat-icon-button [value]="providerScorecardConfig.id"
														matTooltip="Delete provider" matTooltipPosition="below"
														(click)="onDeleteProviderScorecardClicked($event)">
														<mat-icon>
															<fa-icon class="fa-xs" icon="times-circle"></fa-icon>
														</mat-icon>
													</button>
												</div>
											</div>
										</mat-expansion-panel>
									</mat-accordion>
								</mat-expansion-panel>
							</mat-accordion>
						</div>
					</div>
				</mat-step>
			</mat-vertical-stepper>
		</div>
		<div *ngIf="stepper.selectedIndex === 0" class="col-md-5">
			<div class="row" style="margin-bottom: 1rem">
				<div class="col-sm-8" style="margin-right: 1rem">
					<mat-form-field class="search-input-field">
						<input #actorSearchInput matInput type="text" placeholder="Name or office"
							(keyup)="onSearchStringChange($event.target.value)">
						<button mat-button *ngIf="actorSearchInput.value" matSuffix mat-icon-button aria-label="Clear"
							(click)="actorSearchInput.value=''">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
				<div class="col-sm-1">
					<mat-spinner [diameter]="spinnerDiameter"
						*ngIf="reportCardsService.isActorSearchInProgress$ | async">
					</mat-spinner>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<mat-selection-list dense (selectionChange)="onActorSelectionChanged($event)"
						#actorSearchResultList>
						<mat-list-option checkboxPosition="before" [selected]="searchResult.isSelected"
							[value]="searchResult"
							*ngFor="let searchResult of reportCardsService.actorSearchResults$ | async">
							<h3 matLine>{{searchResult.item.title}}</h3>
							<p matLine>
								{{searchResult.item.description}}
							</p>
							<p matLine>
								<span>{{ (searchResult.item.termStarted) ? (searchResult.item.termStarted | date) : '?' }}
									- </span>
								<span>
									{{ (searchResult.item.termEnded) ? (searchResult.item.termEnded | date) : '?' }}</span>
							</p>
						</mat-list-option>
					</mat-selection-list>
				</div>
			</div>
		</div>
		<div *ngIf="stepper.selectedIndex === 1" class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					<mat-tab-group dynamicHeight (selectedTabChange)="onStepTwoTabChange($event)">
						<mat-tab label="By Provider Name">
							<div class="row">
								<div class="offset-md-4 col-sm-1">
									<mat-spinner [diameter]="spinnerDiameter"
										*ngIf="reportCardsService.isProviderScorecardSearchInProgress$ | async">
									</mat-spinner>
								</div>
								<div class="col-sm-12">
									<mat-selection-list dense
										(selectionChange)="onProviderScorecardSelectionChanged($event)"
										#providerScorecardSearchResultList>
										<mat-list-option checkboxPosition="before" [selected]="searchResult.isSelected"
											[value]="searchResult"
											*ngFor="let searchResult of reportCardsService.providerScorecardSearchResults$ | async">
											<h3 matLine>{{searchResult.item.title}}</h3>
											<p matLine>
												{{searchResult.item.description}}
											</p>
											<p matLine>
												<span>{{ (searchResult.item.scorecardStartDate) ? (searchResult.item.scorecardStartDate | date) : '?' }}
													- </span>
												<span>
													{{ (searchResult.item.scorecardEndDate) ? (searchResult.item.scorecardEndDate | date) : '?' }}</span>
											</p>
										</mat-list-option>
									</mat-selection-list>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="By Action Description">
							<div class="row" style="margin-bottom: 1rem">
								<div class="col-sm-8" style="margin-right: 1rem">
									<mat-form-field class="search-input-field">
										<input #actionSearchInput matInput type="text" [disabled]="expandedActorIndex < 0" placeholder="obamacare, gun control, iraq, etc." >
										<button mat-button *ngIf="actionSearchInput.value" matSuffix mat-icon-button aria-label="Clear"
											(click)="actionSearchInput.value=''">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
								<div class="col-sm-1">
									<mat-spinner [diameter]="spinnerDiameter"
									*ngIf="reportCardsService.isActionSearchInProgress$ | async">
								</mat-spinner>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</div>
</div>