$vispt-black-primary: mat-palette($mat-grey, 700, 300, 900);
$vispt-black-accent: mat-palette($mat-blue-grey, 400);
$vispt-black-warn: mat-palette($mat-red, 500);

$vispt-black-theme: mat-dark-theme(
  $vispt-black-primary,
  $vispt-black-accent,
  $vispt-black-warn
);
