$vispt-light-primary: mat-palette($mat-grey, 200, 500, 300);
$vispt-light-accent: mat-palette($mat-brown, 200);
$vispt-light-warn: mat-palette($mat-deep-orange, 200);

$vispt-light-theme: mat-light-theme(
  $vispt-light-primary,
  $vispt-light-accent,
  $vispt-light-warn
);
