$vispt-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$vispt-nature-accent: mat-palette($mat-deep-purple, 300);
$vispt-nature-warn: mat-palette($mat-red, 600);

$vispt-nature-theme: mat-light-theme(
  $vispt-nature-primary,
  $vispt-nature-accent,
  $vispt-nature-warn
);
